{% extends 'base.html' %}
{% load static %}
{% block content %}

    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/loginformat.css' %}">

	<body>
		<section class="wrapper style2">
			<div class="limiter">
				<div class="container-login100">
					<div class="wrap-login100">

						{% if form.errors %}
							<div class="alert alert-primary alert-dismissible fade show" role="alert">
  								{% for key, value in form.errors.items %}
									{{ value }}
								{% endfor %}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    								<span aria-hidden="true">&times;</span>
  								</button>
							</div>
						{% endif %}

						<div class="login100-form-title" style="background-image: url({% static 'images/bg-01.jpg' %});">
							 <h4> Formulário de alteração de senha</h4>
						</div>
						<form class="login100-form" method="post" autocomplete="off">
							{% csrf_token %}
                            <h5>Digite a nova senha abaixo:</h5>
                            <div>
								<input type="password" id="new_password1" name="new_password1" placeholder="Informe sua nova senha" required autofocus>
							</div>

                            <div class="centralizador">
								<h5>Repita a nova senha abaixo:</h5>
								<input type="password" id="new_password2" name="new_password2" placeholder="Confirme a nova senha" required>
							</div>
							<div class="centralizador-botao">
								<button class="actions" type="submit">Alterar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
    </body>
{% endblock %}