{% load static %}

<section id="two" class="wrapper alt style2">

	<!-- Seção "Resumo Plataforma" -->
	<section class="spotlight">
		<div class="image"><img src="{% static 'images/dashboard2.jpg' %}" alt="" /></div><div class="content">
			<h2>Poderosa Plataforma<br />
			com Dados essenciais.</h2>
			<p>Atráves da nossa plataforma você terá acesso instantâneo aos mais diversos tipos de dados e gráficos para lhe auxiliar no dia a dia.</p>
			<ul class="actions">
				<li><a href="#" class="button icon solid fa-laptop">Assista ao Vídeo!</a></li>
			</ul>
		</div>
	</section>
	<!-- Fim "Resumo Plataforma" -->

	<!-- Seção "Venda da plataforma" -->
	<section class="spotlight">
		<div class="image"><img src="{% static 'images/teste3.jpg' %}" alt="" /></div><div class="content">
			<h2>Dashboards Práticas<br />
			e informativas.</h2>
			<p>Oferecemos dados sobre importações como valores unitários, quantidades, assim como análises estatísticas de marketing share.</p>
		</div>
	</section>
	<!-- Fim "Venda da plataforma" -->

	<!-- Seção "Quem somos" -->
	<section class="spotlight">
		<div class="image"><img src="{% static 'images/teste1.jpg' %}" alt="" /></div><div class="content">
			<h2>Quem somos<br />
			</h2>
			<p>A DataImport nasceu da incessante necessidade de permanecer atualizado diante de um mercado competitivo.</p>
		</div>
	</section>
	<!-- Fim "Quem somos" -->

	<!-- Seção "Modelo de Negócios" -->
	<section class="spotlight">
		<div class="image"><img src="{% static 'images/teste4.jpg' %}" alt="" /></div><div class="content">
			<h2>Planos de assinaturas<br />
			ou relatórios sob demanda.</h2>
			<p>Oferecemos planos de assinaturas ou a compra individual de relatórios, entre em <a href="{% url 'contato' %}">contato</a> para avaliarmos a melhor forma para sua empresa.</p>
		</div>
	</section>
	<!-- Fim "Modelo de Negócios" -->

</section>
